<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javafan.tmall.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.javafan.tmall.pojo.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, password
  </sql>
  <select id="selectByExample" parameterType="com.javafan.tmall.pojo.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.javafan.tmall.pojo.User" useGeneratedKeys="true">
    insert into user (name, password)
    values (#{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.javafan.tmall.pojo.User" useGeneratedKeys="true">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="password != null">
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.javafan.tmall.pojo.User">
    update user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.javafan.tmall.pojo.User">
    update user
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.javafan.tmall.pojo.User">
    <id column="User" jdbcType="CHAR" property="user" />
    <result column="Host" jdbcType="CHAR" property="host" />
    <result column="Select_priv" jdbcType="CHAR" property="select_priv" />
    <result column="Insert_priv" jdbcType="CHAR" property="insert_priv" />
    <result column="Update_priv" jdbcType="CHAR" property="update_priv" />
    <result column="Delete_priv" jdbcType="CHAR" property="delete_priv" />
    <result column="Create_priv" jdbcType="CHAR" property="create_priv" />
    <result column="Drop_priv" jdbcType="CHAR" property="drop_priv" />
    <result column="Reload_priv" jdbcType="CHAR" property="reload_priv" />
    <result column="Shutdown_priv" jdbcType="CHAR" property="shutdown_priv" />
    <result column="Process_priv" jdbcType="CHAR" property="process_priv" />
    <result column="File_priv" jdbcType="CHAR" property="file_priv" />
    <result column="Grant_priv" jdbcType="CHAR" property="grant_priv" />
    <result column="References_priv" jdbcType="CHAR" property="references_priv" />
    <result column="Index_priv" jdbcType="CHAR" property="index_priv" />
    <result column="Alter_priv" jdbcType="CHAR" property="alter_priv" />
    <result column="Show_db_priv" jdbcType="CHAR" property="show_db_priv" />
    <result column="Super_priv" jdbcType="CHAR" property="super_priv" />
    <result column="Create_tmp_table_priv" jdbcType="CHAR" property="create_tmp_table_priv" />
    <result column="Lock_tables_priv" jdbcType="CHAR" property="lock_tables_priv" />
    <result column="Execute_priv" jdbcType="CHAR" property="execute_priv" />
    <result column="Repl_slave_priv" jdbcType="CHAR" property="repl_slave_priv" />
    <result column="Repl_client_priv" jdbcType="CHAR" property="repl_client_priv" />
    <result column="Create_view_priv" jdbcType="CHAR" property="create_view_priv" />
    <result column="Show_view_priv" jdbcType="CHAR" property="show_view_priv" />
    <result column="Create_routine_priv" jdbcType="CHAR" property="create_routine_priv" />
    <result column="Alter_routine_priv" jdbcType="CHAR" property="alter_routine_priv" />
    <result column="Create_user_priv" jdbcType="CHAR" property="create_user_priv" />
    <result column="Event_priv" jdbcType="CHAR" property="event_priv" />
    <result column="Trigger_priv" jdbcType="CHAR" property="trigger_priv" />
    <result column="Create_tablespace_priv" jdbcType="CHAR" property="create_tablespace_priv" />
    <result column="ssl_type" jdbcType="CHAR" property="ssl_type" />
    <result column="max_questions" jdbcType="INTEGER" property="max_questions" />
    <result column="max_updates" jdbcType="INTEGER" property="max_updates" />
    <result column="max_connections" jdbcType="INTEGER" property="max_connections" />
    <result column="max_user_connections" jdbcType="INTEGER" property="max_user_connections" />
    <result column="plugin" jdbcType="CHAR" property="plugin" />
    <result column="password_expired" jdbcType="CHAR" property="password_expired" />
    <result column="password_last_changed" jdbcType="TIMESTAMP" property="password_last_changed" />
    <result column="password_lifetime" jdbcType="SMALLINT" property="password_lifetime" />
    <result column="account_locked" jdbcType="CHAR" property="account_locked" />
    <result column="Create_role_priv" jdbcType="CHAR" property="create_role_priv" />
    <result column="Drop_role_priv" jdbcType="CHAR" property="drop_role_priv" />
    <result column="Password_reuse_history" jdbcType="SMALLINT" property="password_reuse_history" />
    <result column="Password_reuse_time" jdbcType="SMALLINT" property="password_reuse_time" />
    <result column="Password_require_current" jdbcType="CHAR" property="password_require_current" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.javafan.tmall.pojo.UserWithBLOBs">
    <result column="ssl_cipher" jdbcType="LONGVARBINARY" property="ssl_cipher" />
    <result column="x509_issuer" jdbcType="LONGVARBINARY" property="x509_issuer" />
    <result column="x509_subject" jdbcType="LONGVARBINARY" property="x509_subject" />
    <result column="authentication_string" jdbcType="LONGVARCHAR" property="authentication_string" />
    <result column="User_attributes" jdbcType="LONGVARCHAR" property="user_attributes" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    User, Host, Select_priv, Insert_priv, Update_priv, Delete_priv, Create_priv, Drop_priv, 
    Reload_priv, Shutdown_priv, Process_priv, File_priv, Grant_priv, References_priv, 
    Index_priv, Alter_priv, Show_db_priv, Super_priv, Create_tmp_table_priv, Lock_tables_priv, 
    Execute_priv, Repl_slave_priv, Repl_client_priv, Create_view_priv, Show_view_priv, 
    Create_routine_priv, Alter_routine_priv, Create_user_priv, Event_priv, Trigger_priv, 
    Create_tablespace_priv, ssl_type, max_questions, max_updates, max_connections, max_user_connections, 
    plugin, password_expired, password_last_changed, password_lifetime, account_locked, 
    Create_role_priv, Drop_role_priv, Password_reuse_history, Password_reuse_time, Password_require_current
  </sql>
  <sql id="Blob_Column_List">
    ssl_cipher, x509_issuer, x509_subject, authentication_string, User_attributes
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.javafan.tmall.pojo.UserExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.javafan.tmall.pojo.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user
    where User = #{user,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where User = #{user,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.javafan.tmall.pojo.UserWithBLOBs">
    insert into user (User, Host, Select_priv, 
      Insert_priv, Update_priv, Delete_priv, 
      Create_priv, Drop_priv, Reload_priv, 
      Shutdown_priv, Process_priv, File_priv, 
      Grant_priv, References_priv, Index_priv, 
      Alter_priv, Show_db_priv, Super_priv, 
      Create_tmp_table_priv, Lock_tables_priv, Execute_priv, 
      Repl_slave_priv, Repl_client_priv, Create_view_priv, 
      Show_view_priv, Create_routine_priv, Alter_routine_priv, 
      Create_user_priv, Event_priv, Trigger_priv, 
      Create_tablespace_priv, ssl_type, max_questions, 
      max_updates, max_connections, max_user_connections, 
      plugin, password_expired, password_last_changed, 
      password_lifetime, account_locked, Create_role_priv, 
      Drop_role_priv, Password_reuse_history, Password_reuse_time, 
      Password_require_current, ssl_cipher, 
      x509_issuer, x509_subject, 
      authentication_string, User_attributes
      )
    values (#{user,jdbcType=CHAR}, #{host,jdbcType=CHAR}, #{select_priv,jdbcType=CHAR}, 
      #{insert_priv,jdbcType=CHAR}, #{update_priv,jdbcType=CHAR}, #{delete_priv,jdbcType=CHAR}, 
      #{create_priv,jdbcType=CHAR}, #{drop_priv,jdbcType=CHAR}, #{reload_priv,jdbcType=CHAR}, 
      #{shutdown_priv,jdbcType=CHAR}, #{process_priv,jdbcType=CHAR}, #{file_priv,jdbcType=CHAR}, 
      #{grant_priv,jdbcType=CHAR}, #{references_priv,jdbcType=CHAR}, #{index_priv,jdbcType=CHAR}, 
      #{alter_priv,jdbcType=CHAR}, #{show_db_priv,jdbcType=CHAR}, #{super_priv,jdbcType=CHAR}, 
      #{create_tmp_table_priv,jdbcType=CHAR}, #{lock_tables_priv,jdbcType=CHAR}, #{execute_priv,jdbcType=CHAR}, 
      #{repl_slave_priv,jdbcType=CHAR}, #{repl_client_priv,jdbcType=CHAR}, #{create_view_priv,jdbcType=CHAR}, 
      #{show_view_priv,jdbcType=CHAR}, #{create_routine_priv,jdbcType=CHAR}, #{alter_routine_priv,jdbcType=CHAR}, 
      #{create_user_priv,jdbcType=CHAR}, #{event_priv,jdbcType=CHAR}, #{trigger_priv,jdbcType=CHAR}, 
      #{create_tablespace_priv,jdbcType=CHAR}, #{ssl_type,jdbcType=CHAR}, #{max_questions,jdbcType=INTEGER}, 
      #{max_updates,jdbcType=INTEGER}, #{max_connections,jdbcType=INTEGER}, #{max_user_connections,jdbcType=INTEGER}, 
      #{plugin,jdbcType=CHAR}, #{password_expired,jdbcType=CHAR}, #{password_last_changed,jdbcType=TIMESTAMP}, 
      #{password_lifetime,jdbcType=SMALLINT}, #{account_locked,jdbcType=CHAR}, #{create_role_priv,jdbcType=CHAR}, 
      #{drop_role_priv,jdbcType=CHAR}, #{password_reuse_history,jdbcType=SMALLINT}, #{password_reuse_time,jdbcType=SMALLINT}, 
      #{password_require_current,jdbcType=CHAR}, #{ssl_cipher,jdbcType=LONGVARBINARY}, 
      #{x509_issuer,jdbcType=LONGVARBINARY}, #{x509_subject,jdbcType=LONGVARBINARY}, 
      #{authentication_string,jdbcType=LONGVARCHAR}, #{user_attributes,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.javafan.tmall.pojo.UserWithBLOBs">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="user != null">
        User,
      </if>
      <if test="host != null">
        Host,
      </if>
      <if test="select_priv != null">
        Select_priv,
      </if>
      <if test="insert_priv != null">
        Insert_priv,
      </if>
      <if test="update_priv != null">
        Update_priv,
      </if>
      <if test="delete_priv != null">
        Delete_priv,
      </if>
      <if test="create_priv != null">
        Create_priv,
      </if>
      <if test="drop_priv != null">
        Drop_priv,
      </if>
      <if test="reload_priv != null">
        Reload_priv,
      </if>
      <if test="shutdown_priv != null">
        Shutdown_priv,
      </if>
      <if test="process_priv != null">
        Process_priv,
      </if>
      <if test="file_priv != null">
        File_priv,
      </if>
      <if test="grant_priv != null">
        Grant_priv,
      </if>
      <if test="references_priv != null">
        References_priv,
      </if>
      <if test="index_priv != null">
        Index_priv,
      </if>
      <if test="alter_priv != null">
        Alter_priv,
      </if>
      <if test="show_db_priv != null">
        Show_db_priv,
      </if>
      <if test="super_priv != null">
        Super_priv,
      </if>
      <if test="create_tmp_table_priv != null">
        Create_tmp_table_priv,
      </if>
      <if test="lock_tables_priv != null">
        Lock_tables_priv,
      </if>
      <if test="execute_priv != null">
        Execute_priv,
      </if>
      <if test="repl_slave_priv != null">
        Repl_slave_priv,
      </if>
      <if test="repl_client_priv != null">
        Repl_client_priv,
      </if>
      <if test="create_view_priv != null">
        Create_view_priv,
      </if>
      <if test="show_view_priv != null">
        Show_view_priv,
      </if>
      <if test="create_routine_priv != null">
        Create_routine_priv,
      </if>
      <if test="alter_routine_priv != null">
        Alter_routine_priv,
      </if>
      <if test="create_user_priv != null">
        Create_user_priv,
      </if>
      <if test="event_priv != null">
        Event_priv,
      </if>
      <if test="trigger_priv != null">
        Trigger_priv,
      </if>
      <if test="create_tablespace_priv != null">
        Create_tablespace_priv,
      </if>
      <if test="ssl_type != null">
        ssl_type,
      </if>
      <if test="max_questions != null">
        max_questions,
      </if>
      <if test="max_updates != null">
        max_updates,
      </if>
      <if test="max_connections != null">
        max_connections,
      </if>
      <if test="max_user_connections != null">
        max_user_connections,
      </if>
      <if test="plugin != null">
        plugin,
      </if>
      <if test="password_expired != null">
        password_expired,
      </if>
      <if test="password_last_changed != null">
        password_last_changed,
      </if>
      <if test="password_lifetime != null">
        password_lifetime,
      </if>
      <if test="account_locked != null">
        account_locked,
      </if>
      <if test="create_role_priv != null">
        Create_role_priv,
      </if>
      <if test="drop_role_priv != null">
        Drop_role_priv,
      </if>
      <if test="password_reuse_history != null">
        Password_reuse_history,
      </if>
      <if test="password_reuse_time != null">
        Password_reuse_time,
      </if>
      <if test="password_require_current != null">
        Password_require_current,
      </if>
      <if test="ssl_cipher != null">
        ssl_cipher,
      </if>
      <if test="x509_issuer != null">
        x509_issuer,
      </if>
      <if test="x509_subject != null">
        x509_subject,
      </if>
      <if test="authentication_string != null">
        authentication_string,
      </if>
      <if test="user_attributes != null">
        User_attributes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="user != null">
        #{user,jdbcType=CHAR},
      </if>
      <if test="host != null">
        #{host,jdbcType=CHAR},
      </if>
      <if test="select_priv != null">
        #{select_priv,jdbcType=CHAR},
      </if>
      <if test="insert_priv != null">
        #{insert_priv,jdbcType=CHAR},
      </if>
      <if test="update_priv != null">
        #{update_priv,jdbcType=CHAR},
      </if>
      <if test="delete_priv != null">
        #{delete_priv,jdbcType=CHAR},
      </if>
      <if test="create_priv != null">
        #{create_priv,jdbcType=CHAR},
      </if>
      <if test="drop_priv != null">
        #{drop_priv,jdbcType=CHAR},
      </if>
      <if test="reload_priv != null">
        #{reload_priv,jdbcType=CHAR},
      </if>
      <if test="shutdown_priv != null">
        #{shutdown_priv,jdbcType=CHAR},
      </if>
      <if test="process_priv != null">
        #{process_priv,jdbcType=CHAR},
      </if>
      <if test="file_priv != null">
        #{file_priv,jdbcType=CHAR},
      </if>
      <if test="grant_priv != null">
        #{grant_priv,jdbcType=CHAR},
      </if>
      <if test="references_priv != null">
        #{references_priv,jdbcType=CHAR},
      </if>
      <if test="index_priv != null">
        #{index_priv,jdbcType=CHAR},
      </if>
      <if test="alter_priv != null">
        #{alter_priv,jdbcType=CHAR},
      </if>
      <if test="show_db_priv != null">
        #{show_db_priv,jdbcType=CHAR},
      </if>
      <if test="super_priv != null">
        #{super_priv,jdbcType=CHAR},
      </if>
      <if test="create_tmp_table_priv != null">
        #{create_tmp_table_priv,jdbcType=CHAR},
      </if>
      <if test="lock_tables_priv != null">
        #{lock_tables_priv,jdbcType=CHAR},
      </if>
      <if test="execute_priv != null">
        #{execute_priv,jdbcType=CHAR},
      </if>
      <if test="repl_slave_priv != null">
        #{repl_slave_priv,jdbcType=CHAR},
      </if>
      <if test="repl_client_priv != null">
        #{repl_client_priv,jdbcType=CHAR},
      </if>
      <if test="create_view_priv != null">
        #{create_view_priv,jdbcType=CHAR},
      </if>
      <if test="show_view_priv != null">
        #{show_view_priv,jdbcType=CHAR},
      </if>
      <if test="create_routine_priv != null">
        #{create_routine_priv,jdbcType=CHAR},
      </if>
      <if test="alter_routine_priv != null">
        #{alter_routine_priv,jdbcType=CHAR},
      </if>
      <if test="create_user_priv != null">
        #{create_user_priv,jdbcType=CHAR},
      </if>
      <if test="event_priv != null">
        #{event_priv,jdbcType=CHAR},
      </if>
      <if test="trigger_priv != null">
        #{trigger_priv,jdbcType=CHAR},
      </if>
      <if test="create_tablespace_priv != null">
        #{create_tablespace_priv,jdbcType=CHAR},
      </if>
      <if test="ssl_type != null">
        #{ssl_type,jdbcType=CHAR},
      </if>
      <if test="max_questions != null">
        #{max_questions,jdbcType=INTEGER},
      </if>
      <if test="max_updates != null">
        #{max_updates,jdbcType=INTEGER},
      </if>
      <if test="max_connections != null">
        #{max_connections,jdbcType=INTEGER},
      </if>
      <if test="max_user_connections != null">
        #{max_user_connections,jdbcType=INTEGER},
      </if>
      <if test="plugin != null">
        #{plugin,jdbcType=CHAR},
      </if>
      <if test="password_expired != null">
        #{password_expired,jdbcType=CHAR},
      </if>
      <if test="password_last_changed != null">
        #{password_last_changed,jdbcType=TIMESTAMP},
      </if>
      <if test="password_lifetime != null">
        #{password_lifetime,jdbcType=SMALLINT},
      </if>
      <if test="account_locked != null">
        #{account_locked,jdbcType=CHAR},
      </if>
      <if test="create_role_priv != null">
        #{create_role_priv,jdbcType=CHAR},
      </if>
      <if test="drop_role_priv != null">
        #{drop_role_priv,jdbcType=CHAR},
      </if>
      <if test="password_reuse_history != null">
        #{password_reuse_history,jdbcType=SMALLINT},
      </if>
      <if test="password_reuse_time != null">
        #{password_reuse_time,jdbcType=SMALLINT},
      </if>
      <if test="password_require_current != null">
        #{password_require_current,jdbcType=CHAR},
      </if>
      <if test="ssl_cipher != null">
        #{ssl_cipher,jdbcType=LONGVARBINARY},
      </if>
      <if test="x509_issuer != null">
        #{x509_issuer,jdbcType=LONGVARBINARY},
      </if>
      <if test="x509_subject != null">
        #{x509_subject,jdbcType=LONGVARBINARY},
      </if>
      <if test="authentication_string != null">
        #{authentication_string,jdbcType=LONGVARCHAR},
      </if>
      <if test="user_attributes != null">
        #{user_attributes,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.javafan.tmall.pojo.UserWithBLOBs">
    update user
    <set>
      <if test="host != null">
        Host = #{host,jdbcType=CHAR},
      </if>
      <if test="select_priv != null">
        Select_priv = #{select_priv,jdbcType=CHAR},
      </if>
      <if test="insert_priv != null">
        Insert_priv = #{insert_priv,jdbcType=CHAR},
      </if>
      <if test="update_priv != null">
        Update_priv = #{update_priv,jdbcType=CHAR},
      </if>
      <if test="delete_priv != null">
        Delete_priv = #{delete_priv,jdbcType=CHAR},
      </if>
      <if test="create_priv != null">
        Create_priv = #{create_priv,jdbcType=CHAR},
      </if>
      <if test="drop_priv != null">
        Drop_priv = #{drop_priv,jdbcType=CHAR},
      </if>
      <if test="reload_priv != null">
        Reload_priv = #{reload_priv,jdbcType=CHAR},
      </if>
      <if test="shutdown_priv != null">
        Shutdown_priv = #{shutdown_priv,jdbcType=CHAR},
      </if>
      <if test="process_priv != null">
        Process_priv = #{process_priv,jdbcType=CHAR},
      </if>
      <if test="file_priv != null">
        File_priv = #{file_priv,jdbcType=CHAR},
      </if>
      <if test="grant_priv != null">
        Grant_priv = #{grant_priv,jdbcType=CHAR},
      </if>
      <if test="references_priv != null">
        References_priv = #{references_priv,jdbcType=CHAR},
      </if>
      <if test="index_priv != null">
        Index_priv = #{index_priv,jdbcType=CHAR},
      </if>
      <if test="alter_priv != null">
        Alter_priv = #{alter_priv,jdbcType=CHAR},
      </if>
      <if test="show_db_priv != null">
        Show_db_priv = #{show_db_priv,jdbcType=CHAR},
      </if>
      <if test="super_priv != null">
        Super_priv = #{super_priv,jdbcType=CHAR},
      </if>
      <if test="create_tmp_table_priv != null">
        Create_tmp_table_priv = #{create_tmp_table_priv,jdbcType=CHAR},
      </if>
      <if test="lock_tables_priv != null">
        Lock_tables_priv = #{lock_tables_priv,jdbcType=CHAR},
      </if>
      <if test="execute_priv != null">
        Execute_priv = #{execute_priv,jdbcType=CHAR},
      </if>
      <if test="repl_slave_priv != null">
        Repl_slave_priv = #{repl_slave_priv,jdbcType=CHAR},
      </if>
      <if test="repl_client_priv != null">
        Repl_client_priv = #{repl_client_priv,jdbcType=CHAR},
      </if>
      <if test="create_view_priv != null">
        Create_view_priv = #{create_view_priv,jdbcType=CHAR},
      </if>
      <if test="show_view_priv != null">
        Show_view_priv = #{show_view_priv,jdbcType=CHAR},
      </if>
      <if test="create_routine_priv != null">
        Create_routine_priv = #{create_routine_priv,jdbcType=CHAR},
      </if>
      <if test="alter_routine_priv != null">
        Alter_routine_priv = #{alter_routine_priv,jdbcType=CHAR},
      </if>
      <if test="create_user_priv != null">
        Create_user_priv = #{create_user_priv,jdbcType=CHAR},
      </if>
      <if test="event_priv != null">
        Event_priv = #{event_priv,jdbcType=CHAR},
      </if>
      <if test="trigger_priv != null">
        Trigger_priv = #{trigger_priv,jdbcType=CHAR},
      </if>
      <if test="create_tablespace_priv != null">
        Create_tablespace_priv = #{create_tablespace_priv,jdbcType=CHAR},
      </if>
      <if test="ssl_type != null">
        ssl_type = #{ssl_type,jdbcType=CHAR},
      </if>
      <if test="max_questions != null">
        max_questions = #{max_questions,jdbcType=INTEGER},
      </if>
      <if test="max_updates != null">
        max_updates = #{max_updates,jdbcType=INTEGER},
      </if>
      <if test="max_connections != null">
        max_connections = #{max_connections,jdbcType=INTEGER},
      </if>
      <if test="max_user_connections != null">
        max_user_connections = #{max_user_connections,jdbcType=INTEGER},
      </if>
      <if test="plugin != null">
        plugin = #{plugin,jdbcType=CHAR},
      </if>
      <if test="password_expired != null">
        password_expired = #{password_expired,jdbcType=CHAR},
      </if>
      <if test="password_last_changed != null">
        password_last_changed = #{password_last_changed,jdbcType=TIMESTAMP},
      </if>
      <if test="password_lifetime != null">
        password_lifetime = #{password_lifetime,jdbcType=SMALLINT},
      </if>
      <if test="account_locked != null">
        account_locked = #{account_locked,jdbcType=CHAR},
      </if>
      <if test="create_role_priv != null">
        Create_role_priv = #{create_role_priv,jdbcType=CHAR},
      </if>
      <if test="drop_role_priv != null">
        Drop_role_priv = #{drop_role_priv,jdbcType=CHAR},
      </if>
      <if test="password_reuse_history != null">
        Password_reuse_history = #{password_reuse_history,jdbcType=SMALLINT},
      </if>
      <if test="password_reuse_time != null">
        Password_reuse_time = #{password_reuse_time,jdbcType=SMALLINT},
      </if>
      <if test="password_require_current != null">
        Password_require_current = #{password_require_current,jdbcType=CHAR},
      </if>
      <if test="ssl_cipher != null">
        ssl_cipher = #{ssl_cipher,jdbcType=LONGVARBINARY},
      </if>
      <if test="x509_issuer != null">
        x509_issuer = #{x509_issuer,jdbcType=LONGVARBINARY},
      </if>
      <if test="x509_subject != null">
        x509_subject = #{x509_subject,jdbcType=LONGVARBINARY},
      </if>
      <if test="authentication_string != null">
        authentication_string = #{authentication_string,jdbcType=LONGVARCHAR},
      </if>
      <if test="user_attributes != null">
        User_attributes = #{user_attributes,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where User = #{user,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.javafan.tmall.pojo.UserWithBLOBs">
    update user
    set Host = #{host,jdbcType=CHAR},
      Select_priv = #{select_priv,jdbcType=CHAR},
      Insert_priv = #{insert_priv,jdbcType=CHAR},
      Update_priv = #{update_priv,jdbcType=CHAR},
      Delete_priv = #{delete_priv,jdbcType=CHAR},
      Create_priv = #{create_priv,jdbcType=CHAR},
      Drop_priv = #{drop_priv,jdbcType=CHAR},
      Reload_priv = #{reload_priv,jdbcType=CHAR},
      Shutdown_priv = #{shutdown_priv,jdbcType=CHAR},
      Process_priv = #{process_priv,jdbcType=CHAR},
      File_priv = #{file_priv,jdbcType=CHAR},
      Grant_priv = #{grant_priv,jdbcType=CHAR},
      References_priv = #{references_priv,jdbcType=CHAR},
      Index_priv = #{index_priv,jdbcType=CHAR},
      Alter_priv = #{alter_priv,jdbcType=CHAR},
      Show_db_priv = #{show_db_priv,jdbcType=CHAR},
      Super_priv = #{super_priv,jdbcType=CHAR},
      Create_tmp_table_priv = #{create_tmp_table_priv,jdbcType=CHAR},
      Lock_tables_priv = #{lock_tables_priv,jdbcType=CHAR},
      Execute_priv = #{execute_priv,jdbcType=CHAR},
      Repl_slave_priv = #{repl_slave_priv,jdbcType=CHAR},
      Repl_client_priv = #{repl_client_priv,jdbcType=CHAR},
      Create_view_priv = #{create_view_priv,jdbcType=CHAR},
      Show_view_priv = #{show_view_priv,jdbcType=CHAR},
      Create_routine_priv = #{create_routine_priv,jdbcType=CHAR},
      Alter_routine_priv = #{alter_routine_priv,jdbcType=CHAR},
      Create_user_priv = #{create_user_priv,jdbcType=CHAR},
      Event_priv = #{event_priv,jdbcType=CHAR},
      Trigger_priv = #{trigger_priv,jdbcType=CHAR},
      Create_tablespace_priv = #{create_tablespace_priv,jdbcType=CHAR},
      ssl_type = #{ssl_type,jdbcType=CHAR},
      max_questions = #{max_questions,jdbcType=INTEGER},
      max_updates = #{max_updates,jdbcType=INTEGER},
      max_connections = #{max_connections,jdbcType=INTEGER},
      max_user_connections = #{max_user_connections,jdbcType=INTEGER},
      plugin = #{plugin,jdbcType=CHAR},
      password_expired = #{password_expired,jdbcType=CHAR},
      password_last_changed = #{password_last_changed,jdbcType=TIMESTAMP},
      password_lifetime = #{password_lifetime,jdbcType=SMALLINT},
      account_locked = #{account_locked,jdbcType=CHAR},
      Create_role_priv = #{create_role_priv,jdbcType=CHAR},
      Drop_role_priv = #{drop_role_priv,jdbcType=CHAR},
      Password_reuse_history = #{password_reuse_history,jdbcType=SMALLINT},
      Password_reuse_time = #{password_reuse_time,jdbcType=SMALLINT},
      Password_require_current = #{password_require_current,jdbcType=CHAR},
      ssl_cipher = #{ssl_cipher,jdbcType=LONGVARBINARY},
      x509_issuer = #{x509_issuer,jdbcType=LONGVARBINARY},
      x509_subject = #{x509_subject,jdbcType=LONGVARBINARY},
      authentication_string = #{authentication_string,jdbcType=LONGVARCHAR},
      User_attributes = #{user_attributes,jdbcType=LONGVARCHAR}
    where User = #{user,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.javafan.tmall.pojo.User">
    update user
    set Host = #{host,jdbcType=CHAR},
      Select_priv = #{select_priv,jdbcType=CHAR},
      Insert_priv = #{insert_priv,jdbcType=CHAR},
      Update_priv = #{update_priv,jdbcType=CHAR},
      Delete_priv = #{delete_priv,jdbcType=CHAR},
      Create_priv = #{create_priv,jdbcType=CHAR},
      Drop_priv = #{drop_priv,jdbcType=CHAR},
      Reload_priv = #{reload_priv,jdbcType=CHAR},
      Shutdown_priv = #{shutdown_priv,jdbcType=CHAR},
      Process_priv = #{process_priv,jdbcType=CHAR},
      File_priv = #{file_priv,jdbcType=CHAR},
      Grant_priv = #{grant_priv,jdbcType=CHAR},
      References_priv = #{references_priv,jdbcType=CHAR},
      Index_priv = #{index_priv,jdbcType=CHAR},
      Alter_priv = #{alter_priv,jdbcType=CHAR},
      Show_db_priv = #{show_db_priv,jdbcType=CHAR},
      Super_priv = #{super_priv,jdbcType=CHAR},
      Create_tmp_table_priv = #{create_tmp_table_priv,jdbcType=CHAR},
      Lock_tables_priv = #{lock_tables_priv,jdbcType=CHAR},
      Execute_priv = #{execute_priv,jdbcType=CHAR},
      Repl_slave_priv = #{repl_slave_priv,jdbcType=CHAR},
      Repl_client_priv = #{repl_client_priv,jdbcType=CHAR},
      Create_view_priv = #{create_view_priv,jdbcType=CHAR},
      Show_view_priv = #{show_view_priv,jdbcType=CHAR},
      Create_routine_priv = #{create_routine_priv,jdbcType=CHAR},
      Alter_routine_priv = #{alter_routine_priv,jdbcType=CHAR},
      Create_user_priv = #{create_user_priv,jdbcType=CHAR},
      Event_priv = #{event_priv,jdbcType=CHAR},
      Trigger_priv = #{trigger_priv,jdbcType=CHAR},
      Create_tablespace_priv = #{create_tablespace_priv,jdbcType=CHAR},
      ssl_type = #{ssl_type,jdbcType=CHAR},
      max_questions = #{max_questions,jdbcType=INTEGER},
      max_updates = #{max_updates,jdbcType=INTEGER},
      max_connections = #{max_connections,jdbcType=INTEGER},
      max_user_connections = #{max_user_connections,jdbcType=INTEGER},
      plugin = #{plugin,jdbcType=CHAR},
      password_expired = #{password_expired,jdbcType=CHAR},
      password_last_changed = #{password_last_changed,jdbcType=TIMESTAMP},
      password_lifetime = #{password_lifetime,jdbcType=SMALLINT},
      account_locked = #{account_locked,jdbcType=CHAR},
      Create_role_priv = #{create_role_priv,jdbcType=CHAR},
      Drop_role_priv = #{drop_role_priv,jdbcType=CHAR},
      Password_reuse_history = #{password_reuse_history,jdbcType=SMALLINT},
      Password_reuse_time = #{password_reuse_time,jdbcType=SMALLINT},
      Password_require_current = #{password_require_current,jdbcType=CHAR}
    where User = #{user,jdbcType=CHAR}
  </update>
</mapper>